

/* fadeIn CSS */
.fadeIn {
	position:relative
}
.fadeIn {
	-webkit-animation-name:fadeIn;
	-webkit-animation-duration:2s;
	animation-name:fadeIn;
	animation-duration:2s
}
@-webkit-keyframes fadeIn {
	from {
		opacity:0
	} to {
		opacity:1
	}
}
@keyframes fadeIn {
	from {
		opacity:0
	}to {
		opacity:1
	}
}

.row-extra {
	height: 365px;
}

.style-right {
	padding-left: 0px;
	padding-right: 0px;
}

.style-right:before {
	content: "";
    background: url(/img/left-container-icon.png) no-repeat;
    left: -34px;
    top: -34px;
    width: 74px;
    height: 73px;
    position: absolute;
    z-index: 5;
}
.style-right:after {
	content: "";
    background: url(/img/right-container-icon.png) no-repeat;
    right: -34px;
    top: -34px;
    width: 74px;
    height: 73px;
    position: absolute;
	z-index: 6;
}
/* box shadow */
.box-shadow {
-webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);
}

/* no padding left & right */
.clear-top {
	margin-top: 20px;
}
.p-block {
	padding: 10px 10px;
}
.c-block {
	padding: 20px 20px;
}
.col-sm-9 {
	width: 600px;
	background: url(/img/content-bg.jpg);	
}
.col-sm-3 {
	padding-left: 15px;
}
.sidebar-block {
	background: url(/img/sidebar-bg.jpg);	
}
.sidebar-block-light {
	background: url(/img/light-bg.jpg);
}
.no-padding-left {
	padding-left: 0px;
	padding-right: 0px;
}
.no-padding-right {
	padding-right: 0px;
}

/* Sidebar register button */
.register-block {
    background: url(/img/dowload-button.jpg) no-repeat;
    height: 90px;
    box-shadow: 0px 5px 20px -2px rgba(0, 0, 0, 0.1);
}
.register-block a {
	display: block;
    position: relative;
    z-index: 3;
    font-size: 11px;
    color: #7a96b0;
    line-height: 1.5;
    padding: 23px 0px 23px 90px;
	text-decoration: none;
}
.register-block a span {
    display: block;
    color: #aacff2;
    font-size: 18px;
    font-weight: 700;
}

/* Centered css */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
}
.cell-center {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}

.title-img {
	width: 100%;
    padding-top: 150px;
	padding-bottom: 150px;
    text-align: center;
}
.title-img a {
	font-family: "sans-serif";
    font-style: italic;
	font-size: 60px;
    color: #c3cedc;
    text-shadow: 0 0 5px red, 0 0 5px red;
    text-align: center;
    text-decoration: none;
}
.title-img a:hover {
    text-shadow: 0 0 5px orange, 0 0 5px orange;
}

/* Slider CSS */
#slider {
  position: relative;
  overflow: hidden;
  margin: 0;
  border-radius: 4px;
}

.item {
  position: relative;
  margin: 0;
  padding: 0;
  height: 300px;
  list-style: none;
}

.show {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 600px;
  height: 310px;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 600;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}



/* New Slider CSS */
.slider {
  overflow: hidden;
  position: relative;
  width: 600px;
  height: 214px;
  margin: 0 auto;
  z-index: 1;
}
.slider .slides {
  position: relative;
  transition: 1s;
}
.slider .slides .active .slider-text {
  transition: all 2s ease;
  bottom: 20px !important;
}
.slider .slides .slide {
  float: left;
  display: block;
  position: relative;
}
.slider .slides .slide:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  box-shadow: inset 0px 0px 40px 20px rgba(0, 0, 0, 0.6);
}
.slider .slides .slide .slider-text {
  position: absolute;
  bottom: -200px;
  left: 0px;
  padding: 8px 30px;
  width: calc(100% - 0px);
  color: #e0ddd1;
  line-height: 1.3;
  color: #fff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
  text-align: center;
  z-index: 4;
}
.slider .slides .slide h1 {
  margin-bottom: 1px;
  color: #fff;
  font-size: 36px;
}
.slider .slides .slide img {
  width: 875px;
  max-width: 875px;
  height: 214px;
}
.slider .next {
  position: absolute;
  background: url(/img/arrow-right.png) no-repeat;
  height: 30px;
  width: 30px;
  right: -11px;
  top: 95px;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  z-index: 12;
}
.slider .prev {
  position: absolute;
  background: url(/img/arrow-left.png) no-repeat;
  height: 30px;
  width: 30px;
  left: 0px;
  top: 95px;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  z-index: 12;
}
.slider .navigation {
  position: absolute;
  left: 23px;
  top: 16px;
  z-index: 1;
  cursor: pointer;
  display: none;
}
.slider .navigation .dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: linear-gradient(to bottom, #a6d0b6, #89b899);
  border: 1px solid #427252;
  cursor: pointer;
  margin: 0 2px;
  position: relative;
}
.slider:hover .next,
.slider:hover .prev {
  opacity: 1;
  transition: all 0.7s ease;
}
.slider .navigation .active:after {
  content: "";
  background: linear-gradient(to bottom, #a6d0b6, #89b899);
  height: 10px;
  width: 10px;
  border: 1px solid #b9d8c2;
  position: absolute;
}


/* Download and Donate Button */
input, textarea, select, button {
    color: #efe6d9;
    transition: all 0.5s ease;
    font-family: cambria;
    border: 1px solid #3e373b;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 5px 10px;
}
a:hover, button:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
    cursor: pointer;
}
.download-button {
	position: absolute;
    margin-top: -50px;
}
.download-button button,.donate-button button {
    background: url(/img/button3.png) no-repeat;
    width: 230px;
    height: 50px;
    border: none;
    text-align: left;
    font-size: 12px;
    color: #1c374c;
    text-shadow: 1px 1px #376583;
    padding-left: 30px;
}
.donate-button {
    position: absolute;
    margin-top: -50px;
    margin-left: 240px;
}
.download-button span,.donate-button span {
    display: block;
    font-size: 18px;
    color: #dfdfdf;
    text-shadow: 1px 1px 8px #000;
}


/* 1st slider CSS */
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

div#slider { overflow: hidden;
width: 600px;
height: 310px;}
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 45s slidy infinite; 
}

/*==============*/

a.ms.text-color {
    color: #fff;
	font-size: 2rem;
	text-decoration: none;
}
